@import'modules/common';

#about_me {

    .contents_box {
        margin: 4.0rem 0;
    }
    .box_right {
        padding: 0 3.0rem;

        @include sm {
            padding: 1.0rem;
        }

        .box_title {
            h3 {
                line-height: 2;
            }
            span {
                padding: 2px 20px;
                background-color: #fff;
            }
        }
    }
}