@import'modules/set';
@import'modules/header';
@import'modules/footer';

html {
    margin: 0px;
    box-sizing: border-box;
}
body {
    margin: 0px;
    color: $textbase;
    background-color: $bgtcolor;

    font-size: 16px;
    font-family: メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, ヒラギノ角'Noto Sans JP'ゴ Pro W3, Hiragino Kaku Gothic ProN, Hiragino Kaku Gothic Pro, verdana, ＭＳ\ Ｐゴシック, sans-serif;

    /*フッター固定用*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.2rem;
    color: $textlight;

    @include md {
        font-size: 1.0rem;
    }
}
a {
    text-decoration: none !important;
}

/*　ヘッダー　*/
header {
    height: 100px;

    /*　フレックス子　*/
    flex: 0 1 auto;
}

/*　メイン　*/
main {
    padding-bottom: 12.0rem;

    @include md {
        padding-bottom: 6.0rem;
    }
    /*　フレックス子　*/
    flex: 1 0 auto;
}

/*　フッター　*/
footer {

    /*　フレックス子　*/
    flex: 0 1 auto;
}

h1,h2,h3,h4,h5 {
    line-height: normal;
    font-family: 'Noto Sans JP', sans-serif;
    color: $textbase;
    //transform: rotate(0.03deg);
}

h1 {
    margin: 2.4rem 0;
    font-size: 4.0rem;
}
h2 {
    margin: 2.2rem 0;
    font-size: 2.2rem;
}
h3 {
    margin: 2.0rem 0;
    font-size: 1.8rem;
}
h4 {
    margin: 1.5rem 0;
    font-size: 1.2rem;
}
h5 {
    margin: 1.2rem 0;
    font-size: 1.0rem;
}
@include md {
    h1 {
        margin: 1.0rem 0;
        font-size: 3.0rem;
    }
    h2 {
        margin: 1.0rem 0;
        font-size: 1.8rem;
    }
    h3 {
        margin: 1.0rem 0;
        font-size: 1.4rem;
    }
}

