@import'set';

html {
    margin: 0px;
    box-sizing: border-box;
}
body {
    margin: 0px;
    color: $textbase;
    background-color: $bgtcolor;

    font-family: 'M PLUS Rounded 1c', メイリオ, Meiryo, ヒラギノ角ゴ ProN W3, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic ProN, Hiragino Kaku Gothic Pro, verdana, ＭＳ\ Ｐゴシック, sans-serif;

    /*フッター固定用*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none !important;
}

/*　ヘッダー　*/
header {
    height: 100px;

    /*　フレックス子　*/
    flex: 0 1 auto;
}

/*　メイン　*/
main {

    /*　フレックス子　*/
    flex: 1 0 auto;
}

/*　フッター　*/
footer {

    /*　フレックス子　*/
    flex: 0 1 auto;
}

p,span,h1,h2,h3,h4,h5 {
    transform: rotate(0.03deg);
}

h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.0rem;
}
@media screen and ( max-width: 768px ) {
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}

/*　ナビゲーション　*/
nav {
    position: fixed;
    margin: 1.0rem 0;
    width: 100%;
    z-index: 9;

    .nav_box {
        position: relative;
        margin: 0;
        padding: 0 2.0rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

        display: flex;
        align-items: center;
    }
    .site-title {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        margin: 0 2.0rem;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: #333;
        }
    }
    #main-nav {
        margin: 0;
        width: 100%;
        text-align: right;
        
        li {
            padding: 1.0rem 0.5rem;
            list-style-type: none;
            display: inline-block;
        }

        a {
            width: 100%;
            height: 100%;
            padding: 5px;
            font-size: 0.9rem;
            color: #333;
            letter-spacing: 1px;
            text-align: center;
            border-bottom: 2px solid transparent;
            display: inline-block;
            transition: 0.5s;
        }

        li a:hover {
            border-bottom: 2px solid $mycolor;
        }
    }
}