@import'set';

.container {
    max-width: 1200px;
}

#page_title {
    margin: 2.0rem 0 -4.0rem;
    
    @include md {
        margin: 1.0rem 0 -2.5rem;
    }

    h1 {
        padding: 0 1.0rem;
        font-size: 4.0rem;
        font-weight: bold;
        color: rgba(0,0,0,0.1);
        letter-spacing: 0.5rem;
        text-align: right;

        @include md {
            font-size: 3.0rem;
        }
    }
}

.contents_box {
    margin: 2.0rem 0;
    padding: 4.0rem;
    background-color: #fff;
    border-radius: 10px;

    @include md {
        margin: 1.0rem 0;
        padding: 2.0rem 0.5rem;
    }

    small {
        font-size: 0.7rem;
        color: #888;
        letter-spacing: 1px;
    }
}
.contents_box_title {
    h2 {
        margin: 1.0rem 0;
        text-align: center;
        letter-spacing: 1px;
    }
}

.loading_wrap {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200vw;
    height: 200vh;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    .open_circle {
        width: 150vw;
        height: 150vh;
        background: radial-gradient(rgba(0,0,0,0) 0%, #fff 5%);
    }
}