@import'modules/common';

.fullscreen {
    position: relative;
	top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.site_top_space {
    width: 100%;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .site_title_space {
        width: 60%;
        max-width: 400px;
        display: none;
        
        .site_logo {
            margin-right: 10px;
            display: inline-block;

            @include md {
                margin: 0;
                display: block;
                text-align: center;
            }

            img {
                height: 50px;

                @include md {
                    height: 70px;
                }
            }
        }
        .site_title_sub {
            margin: 0.5rem;
            font-size: 0.9rem;
            font-weight: lighter;
            letter-spacing: 2px;
            text-align: left;
            color: #000;
            display: inline-block;

            @include md {
                display: block;
            }
        }
        .site_text_logo {
            margin: 1.0rem 0;
            display: inline-block;

            @include md {
                margin: 0;
            }
            
            img {
                width: 100%;
            }
        }
    }
}
#canvas_container, #obj_container {
    position: absolute;
	top: -50vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
}

.menubox {
    position: absolute;
	top: 0px;
    left: 0px;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    //background-color: rgba(252, 252, 252, 1.0);
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;

   @include md {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }

    a {
        width: 100%;
        height: 100%;
        font-size: 13px;
        color: $textbase;
        letter-spacing: 2px;
        text-decoration: none;
        display: inline-block;
        transition: color 0.5s;

        @include md {
            font-size: 12px;
        }
    }
}
.menubox:hover {
    background-color: $mycolorlight;

    a {
        color: #fff;
    }
}
