@import'common';

.works_space {
    margin: 4.0rem 0;
    width: 100%;

    display: flex;
}

.work_box {
    padding: 15px;
    width: 33.333%;
}

.work_box_in {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.article_space {
    .imgbox {
        height: 200px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    .info_space {
        padding: 0.5rem;

        h5 {
            margin: 0;
            font-size: 1.1rem;
            color: $textlight;
        }
        a {
            font-size: 0.8rem;
            word-break: break-all;
        }
        p {
            font-size: 0.9rem;
            color: #555;
        }
    }
}