@import'common';

.works_space {
    margin: 4.0rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.work_box {
    padding: 15px;
    width: 33.333%;

    @include md {
        width: 50%;
    }
    @include sm {
        width: 100%;
    }
}

.work_box_in {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.article_space {
    .imgbox {
        padding: 10px 0;
        background-color: #f9f9f9;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .info_space {
        padding: 0.5rem;

        h5 {
            margin: 0;
            font-size: 1.1rem;
            color: $textlight;
        }
        a {
            font-size: 0.8rem;
            word-break: break-all;
        }
        p {
            font-size: 0.9rem;
            color: #555;
        }
    }
}