@import'set';

.container {
    max-width: 1200px;
}

#page_title {
    margin: 2.0rem 0 -4.0rem;
    
    @include md {
        margin: 1.0rem 0 -2.5rem;
    }

    h1 {
        padding: 0 1.0rem;
        font-weight: bold;
        color: rgba(0,0,0,0.1);
        letter-spacing: 0.5rem;
        text-align: right;
    }
}

.contents_box {

    .box_title {
        text-align: center;

        h2 {
            margin: 1.0rem 0;
            letter-spacing: 1px;
            text-align: left;
            display: inline-block;
        }
    }
    .box_text {
        margin: 2.0rem 0;
        
        p {
            color: $textlight;
            letter-spacing: 1px;
        }
    }
    img {
        width: 100%;
    }

    .box_center_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.loading_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
    background-color: $bgtcolor;

    display: flex;
    align-items: center;
    justify-content: center;

    .open_circle {
        width: 0;
        height: 0;
        background: radial-gradient(rgba(234,239,247,0) 0%, rgba(234,239,247,1) 5%);
    }
}